h1#title {
  text-align: center;
  color: white;
  font-size: 400%;
}

div#header {
  margin-top: 0;
  background-color: deeppink;
  padding: 0;
  user-select: none;
}

span.arrows {
  cursor: pointer;
  user-select: none;
}

span.arrows:hover {
  color: aqua;
}

span#left-arrow {
  float: left;
}

span#right-arrow {
  float: right;
}

h1#title {
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
