<header>
  <main class="days"><h4>Sunday</h4></main>
  <main class="days"><h4>Monday</h4></main>
  <main class="days"><h4>Tuesday</h4></main>
  <main class="days"><h4>Wednesday</h4></main>
  <main class="days"><h4>Thursday</h4></main>
  <main class="days"><h4>Friday</h4></main>
  <main class="days"><h4>Saturday</h4></main>
</header>
<main *ngFor="let num of createRange(daysOfMonth); let i of index">
  <div *ngIf="i % 2; else elseBlock">
    <app-day class="days even" [text]="i"></app-day>
  </div>
  <ng-template #elseBlock>
    <app-day class="days odd" [text]="i" [style.background-color]="lightblue"></app-day>
  </ng-template>
</main>
