.days {
  display: inline-block;
  float: left;
  width: 14.285714285714286%;
  height: 100px;
  color: white;
  background-color: lightblue;
}

h4 {
  margin-top: 0;
  margin-left: 5px;
}

app-day.days.even {
  background-color: cornflowerblue;
}

main.days {
  background-color: lightseagreen;
}

main.days:nth-child(odd) {
  background-color: rebeccapurple;
}
